.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.celular-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.celular-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


.celular-card .contenido {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.celular-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.celular-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  text-align: center;
}

.celular-card p {
  font-size: 0.8rem;
  margin: 0.2rem 0;
  color: #585757;
}

.celular-card .precio {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
  text-align: center;
  color: #000000;
}

.celular-card button {
  background: black;
  color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s;
  display: block;
  margin: 1rem auto 0;
}

.celular-card button:hover {
  font-size: 1rem;
}

.celular-card a {
  text-decoration: none;
  color: black;
}